<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title id="titulo">Serviços <br> Cadastrados</ion-title>

  <ion-card id="card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><strong>Serviço</strong></ion-col>
          <ion-col><strong>Tempo</strong></ion-col>
        </ion-row>
        <hr>
        <!-- Usando *ngFor para iterar sobre a lista de serviços -->

        <ion-row *ngFor="let servico of servicos; let i = index">
          <ion-col>{{ servico.nome }}</ion-col>
          <ion-col>{{ servico.tempo }}</ion-col>
        </ion-row>
        <hr>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 46px;">
    <ion-fab-button (click)="irparaadicionar_servico()" class="fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>