<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="showMenu">
    <!-- Menu Lateral -->
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar class="header">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding container_menu">
        <section class="subcontainer_menu top" (click)="irparaservicos()">
          <h2>Serviços</h2>
          <div class="hr"></div>
        </section>
        <section class="subcontainer_menu" (click)="irparaempresa()">
          <h2>Empresa</h2>
          <div class="hr"></div>
        </section>
        <section class="subcontainer_menu" (click)="irparaagenda()">
          <h2>Agenda</h2>
          <div class="hr"></div>
        </section>
        <section class="subcontainer_menu" (click)="irparadashboard()">
          <h2>Dashboard</h2>
          <div class="hr"></div>
        </section>
        <section class="subcontainer_menu" (click)="irparahorarios()">
          <h2>Horários</h2>
          <div class="hr"></div>
        </section>
        <section class="subcontainer_menu container_end" (click)="sair()">
          <h2>Sair</h2>
          <div class="hr"></div>
        </section>
      </ion-content>
    </ion-menu>

    <!-- Header -->
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar id="header">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <div id="container" (click)="irparadashboard()">
            <img id="logo" src="assets/imagens/logo_1.png" alt="logo image">
          </div>
        </ion-toolbar>
      </ion-header>

      <!-- Conteúdo Principal -->
      <ion-router-outlet id="main-content"></ion-router-outlet>

      <!-- Footer -->
      <footer id="footer">
        <!-- Conteúdo do footer -->
      </footer>
      
    </div>
  </ion-split-pane>

  <!-- Conteúdo principal sem o menu, mostrado em todas as páginas -->
  <ion-router-outlet id="main-content" *ngIf="!showMenu"></ion-router-outlet>
</ion-app>
