
#profilepicture{
    width: 9em;
    width: 100px;  /* Defina uma largura fixa */
    height: 100px; /* Defina uma altura fixa */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem se ajuste ao container sem distorção */  
}
#membro_img{
    width: 9em;
    width: 100px;  /* Defina uma largura fixa */
    height: 100px; /* Defina uma altura fixa */
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem se ajuste ao container sem distorção */  
}
ion-button {
    width: 100%; /* Faz os botões ocuparem toda a largura disponível */
  }
  
  .btn-red {
    --background: #ff8080;
    color:black;
  }
  
  .btn-blue {
    --background: #77a6ff;
    color:black;
  }
  
  .btn-green {
    --background: #81ff81;
    color:black;
  }
  
  .btn-yellow {
    --background: #fff07d;
    color:black;
  }
  
  .btn-purple {
    --background: #ae83ff;
    color:black;
  }
  
  .btn-orange {
    --background: #ffbb84;
    color:black;
  }
  
  .btn-pink {
    --background: #ff78b5;
    color:black;
  }
  
  .btn-teal {
    --background: #86ffd7;
    color:black;
  }
  
  .btn-gray {
    --background: #b6b6b6;
    color:black;
  }

  .btn-brown {
    --background: #ce9168;    
    color:black;
  }