

  <ion-content class="body">
    <div id="container_1">
      <h1 id="titulo">O que vamos fazer hoje? </h1>
      <div id="container_1">
        <section class="subcontainer" (click)="irparaservicos()">
          <ion-icon name="cog" class="icone"></ion-icon>
          <h2 class="subtitulo">Serviços</h2>
        </section>
        <section class="subcontainer" (click)="irparaempresa()" >
          <ion-icon name="business" class="icone1"></ion-icon>
          <h2 class="subtitulo" >Empresa</h2>
        </section>
        <section class="subcontainer">
          <ion-icon name="calendar" class="icone"></ion-icon>
          <h2 class="subtitulo">Agenda</h2>
        </section>
        <section class="subcontainer">
          <ion-icon name="time" class="icone1"></ion-icon>
          <h2 class="subtitulo">Horários</h2>
        </section>
      </div>
  </div>
  </ion-content>

